DOMAIN_URL=
EMAIL=
SWAG_DNSPLUGIN=
#Lista de collections separadas por espaço
CROWDSEC_COLLECTIONS=
CROWDSEC_CAPTCHA_PROVIDER=
CROWDSEC_CAPTCHA_SITE_KEY=
CROWDSEC_CAPTCHA_SECRET_KEY=
BOUNCER_KEY=
ENROLL_KEY=

SWAG_IP=
CROWDSEC_IP=
EXTERNAL_NETWORK_NAME=

#Optional envs
PUID=
PGID=
TIMEZONE=
CROWDSEC_DATA_FOLDER=
CROWDSEC_CONFIG_FOLDER=
SWAG_CONFIG_FOLDER=
