DOMAIN_URL=
EMAIL=
SWAG_DNSPLUGIN=
#Lista de collections separadas por espaço
CROWDSEC_COLLECTIONS=
BOUNCER_KEY=
CROWDSEC_WEBUI_PASSWORD=

#Optional envs
PUID=
PGID=
TIMEZONE=
CROWDSEC_WEBUI_DATA_FOLDER=
CROWDSEC_WEBUI_PORT=