DOMAIN_URL=
EMAIL=
SWAG_DNSPLUGIN=
#Lista de collections separadas por espaço
CROWDSEC_COLLECTIONS=
BOUNCER_KEY=
CROWDSEC_WEBUI_PASSWORD=
CROWDSEC_CAPTCHA_PROVIDER=
CROWDSEC_CAPTCHA_SITE_KEY=
CROWDSEC_CAPTCHA_SECRET_KEY=
CROWDSEC_ENROLL_KEY=
CLOUDFLARE_API_KEY=

SUBNET_NUMBER=

#Optional envs
PUID=
PGID=
TIMEZONE=
CROWDSEC_DATA_FOLDER=
SWAG_DATA_FOLDER=
