services:
  swag:
    image: lscr.io/linuxserver/swag
    container_name: swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - TZ=${TIMEZONE}
      - URL=${DOMAIN_URL}
      - SUBDOMAINS${SWAG_SUBDOMAINS}
      - VALIDATION=${SWAG_DNS_VALIDATION}
    volumes:
      - config:/config
    ports:
      - ${HTTPS_PORT:-443}:443
      - ${HTTP_PORT:-80}:80
    restart: unless-stopped
    networks:
      - net

volumes:
  config:
    name: swag-config

include:
  - path: ${NETWORK_CONFIG_FILE}